<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 col-lg-1"></div>
        <div class="col-xl-8 col-lg-10 col-md-12">
            <mdb-card>
                <mdb-card-body>
                    <div class="row">
                        <div class="col-md-4 small-cell">
                            <table>
                                <td valign="middle">
                                    <img class="round-image" src="../../assets/images/talk.png">
                                </td>
                            </table>
                        </div>
                        <div class="col-md-8" style="vertical-align: center">
                            <table>
                                <td valign="middle">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Anime</li>
                                        <li class="list-group-item">Manga</li>
                                        <li class="list-group-item">Movies</li>
                                        <li class="list-group-item">Books</li>
                                    </ul>
                                </td>
                            </table>
                        </div>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-xl-2 col-lg-1"></div>
    </div>
</div>
