@import "~highlight.js/styles/github.css";

.container-fluid {
  padding-top: 1.5em;
}

.text-div {
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.java_parent {
  display: table;
  height: 100%;
}

.java_child {
  display: table-cell;
  vertical-align: middle;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: fit-content;
}

.monokai {
  background-color: #212121;
  color: #FFFFFF;
  margin-right: 1em;
  height: 100%;
  border-radius: 10px;
}

.scroll {
  position: relative;
  overflow-y: scroll;
}

mdb-card {
  height: min-content;
}
