<div style="height: 100%">
  <mdb-card-title style="text-align: center">
    <h2 style="text-align: center">Hard Skills</h2>
  </mdb-card-title>
  <div class="container-fluid scroll">
    <div class="row">
      <div class="col-sm-12">
        <mdb-card>
          <div class="row">
            <div class="col-sm-4 text-div">
              <table style="height: 100%; width: 100%">
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td style="width: 30%"></td>
                  <td style="width: 70%; text-align: left;">
                    <h5>
                      <mdb-icon fab icon="java"></mdb-icon>
                      Java
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
              </table>
            </div>
            <div class="col-sm-8">
            <pre>
              <code [highlight]="javacode" (highlighted)="onHighlight($event)" class="monokai z-depth-2"></code>
            </pre>
            </div>
          </div>
        </mdb-card>
        <mdb-card>
          <div class="row">
            <div class="col-sm-4 text-div">
              <table style="height: 100%; width: 100%">
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td style="width: 30%"></td>
                  <td style="width: 70%; text-align: left;">
                    <h5>
                      <mdb-icon fab icon="js"></mdb-icon>
                      JS
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
              </table>
            </div>
            <div class="col-sm-8">
            <pre>
              <code [highlight]="javascriptcode" (highlighted)="onHighlight($event)" class="monokai z-depth-2"></code>
            </pre>
            </div>
          </div>
        </mdb-card>
        <mdb-card>
          <div class="row">
            <div class="col-sm-4 text-div">
              <table style="height: 100%; width: 100%">
                <tr>
                  <td style="width: 30%"></td>
                  <td style="width: 70%; text-align: left;">
                    <h5>
                      <mdb-icon fab icon="html5"></mdb-icon>
                      HTML
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td style="width: 30%"></td>
                  <td style="width: 70%; text-align: left;">
                    <h5>
                      <mdb-icon fab icon="css3"></mdb-icon>
                      CSS
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td style="width: 30%"></td>
                  <td style="width: 70%; text-align: left;">
                    <h5>
                      <mdb-icon fas icon="file-code"></mdb-icon>
                      Bootstrap
                    </h5>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-sm-8">
            <pre>
              <code [highlight]="webcode" (highlighted)="onHighlight($event)" class="monokai z-depth-2"></code>
            </pre>
            </div>
          </div>
        </mdb-card>
        <mdb-card>
          <div class="row">
            <div class="col-sm-4 text-div">
              <table style="height: 100%; width: 100%">
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td style="width: 30%"></td>
                  <td style="width: 70%; text-align: left;">
                    <h5>
                      <mdb-icon fab icon="angular"></mdb-icon>
                      Angular 6 &#38; 7
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
              </table>
            </div>
            <div class="col-sm-8">
            <pre>
              <code [highlight]="angularcode" (highlighted)="onHighlight($event)" class="monokai z-depth-2"></code>
            </pre>
            </div>
          </div>
        </mdb-card>
        <mdb-card>
          <div class="row">
            <div class="col-sm-4 text-div">
              <table style="height: 100%; width: 100%">
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td style="width: 30%"></td>
                  <td style="width: 70%; text-align: left;">
                    <h5>
                      <mdb-icon fab icon="angular"></mdb-icon>
                      Angular 6 &#38; 7
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
              </table>
            </div>
            <div class="col-sm-8">
            <pre>
              <code [highlight]="angularcode" (highlighted)="onHighlight($event)" class="monokai z-depth-2"></code>
            </pre>
            </div>
          </div>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
