<div class="container-fluid">
    <div class="row">
        <div class="img-responsive" style="align-content: center">
            <img class="z-depth-2" src="../../assets/images/profile.png" alt="">
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-4 col-md-5">
            <div class="card-title">
                <h5>Personal Details</h5>
            </div>
            <p class="justified-paragraph">
                I do feel that I am highly invested in the work I do. Usually when given a project, if I find it interesting or can further my ideas on how
                to solve a problem then I will put my all into a solution. Making my products pleasing in many ways is the main goal of my development
                cycle. Learning new languages by using them for small learning projects is the best way to expand my understanding and idea
                building skills to solve issues. The one thing I always ask is: What can I give? This means that I would one day like to describe myself
                by what I can give to people rather than what I am.
            </p>
            <p class="justified-paragraph">
                Gaming, anime, tv shows, DIY projects, poetry and some personal coding projects. That’s what I enjoy doing but it is not limited to
                it. I’ve done a few personal projects for the enjoyment of solving a fun problem. I have participated in both Google Hashcode and the
                Entelect Challenge. For example, I made a simple Character type app that randomises a character type for a Dungeons and Dragons
                at the click of one button. I developed it to eliminate some of the wasted time choosing a character type/archetype. I have also started
                planning a hospital ward management system to keep track of patients, doctors and nurses for each patient. When I code I feel that
                if my tools are pleasing and I can work well then, the tools I develop will work well.
            </p>
        </div>
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-3 col-md-4">
            <div class="card-title">
                <h5>Contact Details</h5>
            </div>
            <table mdbTable>
                <tr>
                    <th rowspan="3">Address</th>
                    <td>
                        4 Tsumeb, Maritz Close, Honeydew Ridge
                    </td>
                </tr>
                <tr>
                    <td>
                        Roodepoort, Gauteng
                    </td>
                </tr>
                <tr>
                    <td>
                        2040
                    </td>
                </tr>
                <tr>
                    <th>
                        Phone Number
                    </th>
                    <td>
                        +27 82 363 1667
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        tristanvdm87@gmail.com
                    </td>
                </tr>
                <tr>
                    <th>LinkedIn</th>
                    <td>
                        <a href="https://bit.ly/2PPfENT">bit.ly/2PPfENT</a>
                    </td>
                </tr>
                <tr>
                    <th>GitHub</th>
                    <td>
                        <a href="https://bit.ly/2PnTJw">bit.ly/2PnTJw</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2 col-md-1"></div>
    </div>
</div>
