div {
    border-bottom: 1px #212121;
}

.table-dark {
    line-height: 3em;
    border-radius: 2em;
}

.clear {
    height: 1em;
}

.center-text {
    text-align: center;
}

.left-div {
    text-align: right;
}

.right-div {
    text-align: left;
}

.edu-header {
    text-align: center;
    font-size: 1.5em;
}

.table-center{
    padding-left: 5em;
    padding-right: 5em;
}

.table-left{
    text-align: center;
}
