@import "../../../node_modules/angular-bootstrap-md/scss/core/colors";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

.jumbotron,.jumbotron-fluid {
  background-color: $amber-darken-2;
  color: #FFF;
  font-family: "Ubuntu Mono", "serif";
  padding: 1em 0 0;
}
