<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark amber darken-1 z-depth-0">
  <links style="align-self: center; align-items: center; width: 100%">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>
    </ul>
   </links>
</mdb-navbar>
